<div class= "col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">Autopilot feature</div>
      <div class="panel-body">
        My biggest concern with the current layout for the autopilot feature is the slider. Instead, I would give users a visual cue that is more intuitive, specifically, a responsive pie chart aligned in the left column that would be allocated into three different colored categories: low risk, medium risk, and high risk. The center panel would be similar to the way it is laid out now, however, instead of the slider it would include forms or buttons, so that the user can enter the allocation percentage for each category and the pie chart would respond with a visual representation of their alloction.

        I would also include, in a separate column on the right side of the window, a list of campaigns that fall into each risk category and that meet their autopilot critera. This would allow users to see rather than assume which types of campaigns their autopilot allocation would invest in.

        Finally, I would make a minor change to the category "Maximum invested in each campaign as percentage of campaign size". This feature, although important, may be difficult for users to understand or feel comfortable entering a specific amount for. Instead, I would use predefined percentages as radio buttons. I think this would reduce user anxiety. 
      </div>
    </div>
  </div>